<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mamkschools.mhs.fbla_mobileapp_2016">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:largeHeap="false"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LegalInfoActivity"
            android:label="@string/title_activity_legalinfo"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainSwipeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainSwipeActivity" />
        </activity>
        <activity
            android:name=".DetailMeActivity"
            android:label="comment_page"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainSwipeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainSwipeActivity" />
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainSwipeActivity"
            android:label="@string/title_activity_main_activity_swipes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
